# Virtual environment
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Script lokal
start.command
Buka_Dashboard.webloc
